body {font-size:17px;}

.footer-copyright {font-size:15px;}

.tab-desk-only { display:none; }

.shadow-1 {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16),
				0 4px 18px -2px rgba(0, 0, 0, 0.2);
}

.section-description h2 > i {
  text-shadow: 1px 1px 4px #f8f8f8, 0 0 0px #000;
  color: rgba(147,150,152,.6);
  margin-right:8px;
}
.section-description h2 { letter-spacing: .5px; }
.section-description h2 strong { font-weight: 400; }

.lead {
  line-height:1.45;
  font-weight:300;
  font-size:22px;
  text-align:left;
}
.lead:after {
  content: "";
  position: relative;
  left: 0;
  top: 0;
  display: block;
  height: 2px;
  width: 120px;
  background-color: rgba(0,0,0,0.1);
  margin:15px 0;
}

.container-fullwidth {
  width:100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


/***  BUTTONS  ***/
.btn-group > .btn, .btn-lg { font-weight:300; height:50px; }
.btn-group-lg > .btn .fa { margin-right: 10px; }
button.btn { position:relative; }
:not(a).btn {
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
}
/***  PANELS   ***/
.panel {
  background-color: rgba(188, 190, 192, 0.15);
  text-align: left;
}
.panel-heading .fa { margin-right:10px; }
.panel-body p { font-size:15px; line-height:1.9 }


/*
*******************************
    TOP Section
*******************************
*/
.top-content .inner-bg .container { min-height:420px; }
#top-carousel .item { background-color: rgba(0,0,0,.4); padding: 30px; text-shadow: 0 1px 0px rgba(0,0,0,.3); }
#top-carousel .item p,
#top-carousel ul {
  font-size: 20px;
  text-align: left;
}
#top-carousel ul { padding: 20px 30px 20px 50px; }
#top-carousel ul li { margin-bottom: 10px; }
#top-carousel p { padding: 0 10px;}

.carousel-indicators.dark li.active { background: rgba(0,0,0,.5); }
.carousel-indicators.dark li:not(.active):hover { border-color: rgba(0,0,0,.5) !important; }

.top-content .container .form-box { background-color: rgba(63, 171, 225, 0.6); }
#top-carousel .item,
.top-content .container .form-box { box-shadow: 0px 10px 32px -11px rgba(0,0,0,.55); }

/*
  Bootstrap Carousel Fade Transition (for Bootstrap 3.3.x)
  CSS from:       http://codepen.io/transportedman/pen/NPWRGq
  and:            http://stackoverflow.com/questions/18548731/bootstrap-3-carousel-fading-to-new-slide-instead-of-sliding-to-new-slide
  Inspired from:  http://codepen.io/Rowno/pen/Afykb 
*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
  WHAT IS NEW IN Bootstrap 3.3: "Added transforms to improve carousel performance in modern browsers."
  Need to override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}

/*
*******************************
    How It Works 1 Section
*******************************
*/
.how-it-works-container {
  background: url(../img/backgrounds/bg-city.jpg) no-repeat center center fixed;
}


/*
*******************************
   ALWAYS BEAUTIFUL Section
*******************************
*/
.circle-screenshot img {
  max-width: 96%;
  -mox-border-radius: 50%;
  -webkid-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 1px 25px 25px -20px rgba(88,90,92,.5);
  margin: 0 auto;
  -webkit-transition:all .35s;
	-moz-transition:all .35s;
	-o-transition:all .35s;
	transition:all .35s;
}
.circle-screenshot img:hover {
  margin-top:-1px;
  transform: scale(1.18,1.18);
}

/*
*******************************
    BY THE NUMBERS Section
*******************************
*/
table#spinnerStats {
  display: block;
  width: 98%;
  max-width: 1000px;
  height: 180px;
  margin: 1px auto;
  border-radius: 12px;
}
#spinnerStats .container {
  display: inline-block;
  border: 1px solid rgba(245,246,248,.01);
  height: 156px;
  width: 167px;
  background: transparent;
  text-align: center;
}

div.circleBackground {
    background: rgba(188,190,192,.7);
    border: 1px solid white;
    position: absolute;
    width: 174px;
    height: 174px;
    -moz-border-radius: 90px;
    -webkit-border-radius: 90px;
    -o-border-radius: 90px;
    border-radius: 90px;
}

.hold {
    position: absolute;
    width: 174px;
    height: 174px;
    -moz-border-radius: 90px;
    -webkit-border-radius: 90px;
    -o-border-radius: 90px;
    border-radius: 90px;
    border: 1px solid rgba(255,255,255,0);
    clip: rect(0px, auto, auto, 81px);
}

.circle-color-fill {
    position: absolute;
    width: 174px;
    height: 174px;
    -moz-border-radius: 90px;
    -webkit-border-radius: 90px;
    -o-border-radius: 90px;
    border-radius: 90px;
    border:1px solid white;
    clip: rect(0px, 80px, auto, 0px);
    opacity:0;
    top:-1px;
    left:-1px
            transition: opacity 0.4s ease 0s, transform .8s ease-in-out 0s;
    -webkit-transition: opacity 0.4s ease 0s, -webkit-transform .8s ease-in-out 0s;
       -moz-transition: opacity 0.4s ease 0s, -moz-transform .8s ease-in-out 0s;
         -o-transition: opacity 0.4s ease 0s, -o-transform .8s ease-in-out 0s;
}

/*  JUST TRANSITIONS  */
div.circleBackground, 
.hold, 
.circle-content,
.circle-content .stat-number{
	-webkit-transition:all 1s;
	-moz-transition:all 1s;
	-o-transition:all 1s;
	transition:all 1s;
}

.circle-content {
    display:inline-block;
    width: 136px;
    height: 136px;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    -o-border-radius: 70px;
    border-radius: 70px;
    background-color:#fff;
	position: relative;
    top: -144px;
    left: 19px;
    z-index: 999;
    vertical-align:top;
}

/**  1ST CIRCLE IMAGE  **/
.hold,
.hold .circle-color-fill {
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    transform:rotate(0deg);
}

/**  1st & 2ND CIRCLE Color  **/
#circle-slice1 .circle-color-fill,
#circle-slice2 .circle-color-fill {
    background-color: rgba(114,191,68,1);   
}

/**  3RD CIRCLE IMAGE  **/
#circle-slice3 .circle-color-fill {
    background-color: rgba(63,171,225,1);   
	transition: opacity 0.3s ease, transform .5s ease-in;
	-o-transition: opacity 0.3s ease, -o-transform .5s ease-in;
	-moz-transition: opacity 0.3s ease, -moz-transform .5s ease-in;
	-webkit-transition: opacity 0.3s ease, -webkit-transform .5s ease-in;
}

#circle-slice3-b .circle-color-fill {
    background-color: rgba(63,171,225,1);     
	transition: opacity 0.1s ease 0.5s, transform 0.45s ease 0.42s !important;
	-o-transition: opacity 0.1s ease 0.5s, -o-transform 0.45s ease 0.42s !important;
	-moz-transition: opacity 0.1s ease 0.5s, -moz-transform 0.45s ease 0.42s !important;
	-webkit-transition: opacity 0.1s ease 0.5s, -webkit-transform 0.45s ease 0.42s !important;
	clip: rect(0px, 79px, auto, auto) !important;
}

#circle-slice3-b {
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    transform:rotate(180deg);
}

/**  4th & 5th CIRCLE COLOR  **/
#circle-slice4 .circle-color-fill,
#circle-slice5 .circle-color-fill {
    background-color: rgba(63,171,225,1);    
}


   /***************************/
   /******  HOVER STUFF  ******/
   /***************************/
	
	/***********************************/
    /*  1st CIRCLE IMAGE (The border)  */
	/***********************************/
div#hover-wrap-1:hover div.circle-color-fill {
	opacity: 1; 
	transform: rotate(171deg) !important;
	-webkit-transform: rotate(171deg) !important;
	-ms-transform: rotate(171deg) !important;
}
div#hover-wrap-1:hover div.circleBackground {background: rgba(188,190,192,.8);}

    /*  1st CIRCLE Content Text  */
div#hover-wrap-1:hover #fact1 .stat-number {opacity: .95; font-size:32px;margin:10px 0 -5px;}
div#hover-wrap-1:hover #fact1 .stat-text {opacity: 1; font-size:17px;}
div#hover-wrap-1:hover #fact1 span.percentage-sign {font-size:20px;opacity:1;position:relative;left:3px;}

    /*************************************/
    /**  2nd CIRCLE IMAGE (The border)  **/
	/*************************************/
div#hover-wrap-2:hover div.circle-color-fill {
	transform: rotate(117deg) !important;
	-webkit-transform: rotate(117deg) !important;
	-ms-transform: rotate(117deg) !important;
	opacity: 1; 
}
div#hover-wrap-2:hover div.circleBackground {background: rgba(188,190,192,.8);}

    /**      2nd CIRCLE Content Text      **/
div#hover-wrap-2:hover #fact2 .stat-number {opacity: .95; font-size:31px;margin:10px 0 -5px;}
div#hover-wrap-2:hover #fact2 .stat-text {opacity: 1; font-size:15px;}
div#hover-wrap-2:hover #fact2 span.percentage-sign {font-size:19px;opacity:1;position:relative;left:3px;
}

	/*************************************/
    /*** 3rd CIRCLE IMAGE (The border) ***/ 
	/*************************************/
div#hover-wrap-3:hover #circle-slice3 .circle-color-fill {
	opacity: 1; 
	transform: rotate(181deg) !important;
	-ms-transform: rotate(181deg) !important;
	-webkit-transform: rotate(181deg) !important;
}

div#hover-wrap-3:hover div.hold { clip:rect(0px, auto, auto, 80px); }

div#hover-wrap-3:hover #circle-slice3-b .circle-color-fill {
	opacity: 1; 
	transform: rotate(90deg) !important;
	-ms-transform: rotate(90deg) !important;
	-webkit-transform: rotate(90deg) !important;
	clip:rect(0px, auto, 0px, 79px);
	transition: opacity 0.3s ease 0.1s, transform 0.45s ease 0.1s;	
}
div#hover-wrap-3:hover div.circleBackground { background: rgba(188,190,192,.8); }

    /***     3rd CIRCLE Content Text     ***/
div#hover-wrap-3:hover #fact3 .stat-number { font-size:35px; margin:8px 0 -5px; }
div#hover-wrap-3:hover #fact3 .stat-text { opacity: 1; font-size:16px; }
div#hover-wrap-3:hover #fact3 span.percentage-sign { font-size:20px; opacity:1; position:relative; left:3px; }

   	/*****************************************/ 
    /****  4th CIRCLE IMAGE (The border)  ****/
	/*****************************************/
div#hover-wrap-4:hover div.circle-color-fill {
	transform: rotate(120deg) !important;
	-webkit-transform: rotate(120deg) !important;
	-ms-transform: rotate(120deg) !important; 
	opacity: 1;
}
div#hover-wrap-4:hover div.circleBackground { background: rgba(188,190,192,.8); }

    /****  4th CIRCLE Content Text  ****/
div#hover-wrap-4:hover #fact4 .stat-number { opacity: .95; font-size:31px;margin:10px 0 -5px; }
div#hover-wrap-4:hover #fact4 .stat-text { opacity: 1; font-size:13.5px; }
div#hover-wrap-4:hover #fact4 span.percentage-sign { font-size:19px; opacity:1; position:relative; left:3px; }

	/*******************************************/
    /*****  5th CIRCLE IMAGE (The border)  *****/
	/*******************************************/	
div#hover-wrap-5:hover div.circle-color-fill {
	transform: rotate(178deg) !important;
	-webkit-transform: rotate(178deg) !important;
	-ms-transform: rotate(178deg) !important;
	opacity: 1;
}
div#hover-wrap-5:hover div.circleBackground {background: rgba(188,190,192,.8);}
   
    /*****     5th CIRCLE Content Text     *****/
div#hover-wrap-5:hover #fact5 .stat-number { opacity: .95; font-size:32px;margin:10px 0 -5px; }
div#hover-wrap-5:hover #fact5 .stat-text { opacity: 1; font-size:16px; }
div#hover-wrap-5:hover #fact5 span.percentage-sign { font-size:20px; opacity:1; position:relative; left:3px; }
	
	/*********************************************/
    /******  6th CIRCLE IMAGE (The border)  ******/
	/*********************************************/
div#hover-wrap-6:hover div.circle-color-fill { transform: rotate(-268deg) !important; opacity: 1; }
div#hover-wrap-6:hover div.circleBackground { background: rgba(188,190,192,.8); }
   
    /******    6th CIRCLE Content Text      ******/
div#hover-wrap-6:hover #fact6 .stat-number { opacity: .95; font-size:32px; margin:10px 0 -5px; }
div#hover-wrap-6:hover #fact6 .stat-text { opacity: 1; font-size:16px; }
div#hover-wrap-6:hover #fact6 span.percentage-sign { font-size:20px; opacity:1; position:relative; left:3px }

.circle-content .stat-number {
    display: block;
    font: 500 50px "Roboto", Arial, Helvetica, sans-serif;
    letter-spacing: 0px;
    margin: 25px 0 -5px;
    text-align: center;
    color: #72bf44;
    transition: margin 0.5s ease-out 0s, font-size 0.5s ease-out 0s, opacity 0.2s ease-out .3s;
    -webkit-transition: margin 0.5s ease-out 0s, font-size 0.5s ease-out 0s, opacity 0.2s ease-out .3s;
    -moz-transition: margin 0.5s ease-out 0s, font-size 0.5s ease-out 0s, opacity 0.2s ease-out .3s;
    -o-transition: margin 0.5s ease-out 0s, font-size 0.5s ease-out 0s, opacity 0.2s ease-out .3s;
}

.circle-content span.percentage-sign {
    line-height: 120%;
    font-size: 10px;
    font-weight:400;
    opacity:0;
    vertical-align: top;
    position:relative;
    left:0;
    transition: all .4s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
}
    
.circle-content .stat-text {
    display:block;
    opacity:0;
    font: 300 10px "Roboto", "Open Sans", Helvetica, sans-serif;
    text-align:center;
    padding:4px;
    letter-spacing:.25px;
    transition: font-size 0.4s ease 0.1s, opacity 0.37s ease 0.13s;
    -webkit-transition: font-size 0.4s ease 0.1s, opacity 0.37s ease 0.13s;
    -moz-transition: font-size 0.4s ease 0.1s, opacity 0.37s ease 0.13s;
    -o-transition: font-size 0.4s ease 0.1s, opacity 0.37s ease 0.13s;
}



/*
**************************
    PRICING Section
**************************
*/
.pricing-box {padding: 0px;}
.pricing-box-features ul {font-size:15px;}
.pricing-box-features ul * {line-height:inherit;}
.pricing-box-features ul li > span {
  display:inline-block;
  width: 82%;
}
.pricing-box-icon {
  top:-35px;
  right:4.5%;
}


/*
**************************
    FAQ Section
**************************
*/
.section-description h2 > span {font-weight:400;}
#faq .img-responsive {
  max-height: 550px;
  position: relative;
  top: -30px;
  left: 10px;
  z-index: -99;
}


/*
**************************
    BENEFITS Section
**************************
*/
.container.nomax {width:100%;}
#forLandlordsTab .screenshot img {width:98%;height:auto;max-width:500px;}
.fromOffscrnL {position:relative; left:-3%;}
.benefits-container .list-group-item {border:none; text-indent:-30px;}
.list-group-item {color:#333; font-weight:400;}
.list-group li > .fa-check {color:#72bf44;}

.benefits-container .appStoreBadgeContainer img {
  width:200px;
  height:auto;
  -webkit-transition:.25s transform ease-in-out, .16s margin-top ease-out;
  transition:.25s transform ease-in-out, .16s margin-top ease-out;
}
.benefits-container .appStoreBadgeContainer img:hover {transform: scale(1.18,1.18);}
.benefits-container .appStoreBadgeContainer img:active {margin-top:4px;}


/*
**************************
    CALL TO ACTION - Blue
**************************
*/
.section-container-blue-bg .blueCallout {
  background: #41abef;
  color: #fff;
  padding: 90px 40px;
  min-height: 300px;
}
.section-container-blue-bg .blueCallout * {
  color: #fff;
}


/*
**************************
    CONTACT Section
**************************
*/

/* #contact-section */
.section-subtitle span {font-weight: 500;}
.section-subtitle { font-size:26px; font-weight: 300 !important; text-align: center; padding: 10px 0 15px 0; }
.div-center * {margin: 0 auto;}
/* Social links */
.social { display: inline-block; padding: 10px 5px 5px 5px; }
.social li { margin: 5px 5px 5px 0; width: 58px; height: 58px; line-height: 50px; border-radius: 50%; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }

/* facebook */
.social li.facebook a { color: #ffffff; position: relative; width: 58px; height: 58px; font-size:24px; margin: auto;  vertical-align: middle; padding:10px; }
.social li.facebook a:hover { color: #204385; }
.social li.facebook { color: #ffffff; background: #204385; border: 2px solid #204385; }
.social li.facebook:hover { background: #ffffff; border: 2px solid #204385; color: #204385; }

/* twitter */
.social li.twitter a { color: #ffffff; position: relative; width: 58px; height: 58px; font-size:24px; margin: auto;  vertical-align: middle; padding:10px; }
.social li.twitter a:hover { color: #2aa9e0; }
.social li.twitter { color: #ffffff; background: #2aa9e0; border: 2px solid #2aa9e0; }
.social li.twitter:hover { background: #ffffff; border: 2px solid #2aa9e0; color: #2aa9e0; }

/* google plus */
.social li.google-plus a { color: #ffffff; position: relative; width: 58px; height: 58px; font-size:24px; margin: auto;  vertical-align: middle; padding:10px; }
.social li.google-plus a:hover { color: #d3492c; }
.social li.google-plus { color: #ffffff; background: #d3492c; border: 2px solid #d3492c; }
.social li.google-plus:hover { background: #ffffff; border: 2px solid #d3492c; color: #2aa9e0; }

/* .contact-form-box */
.contact-form-box { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; padding: 25px 5px 5px 5px; margin-bottom: 10px; }

/* .contact-form */
.contact-form { width: 60%; margin: 0 auto; padding: 30px 20px 10px 20px; }
.contact-form .input-group { margin-bottom: 10px; }
.contact-form .form-control { margin-bottom: 7px; background-color:rgba(241,241,243,1); color:#4f4f4f; border: 1px solid #cccccc; height: 54px; border-radius: 0; transition: all 0.2s ease-in-out 0.2s; -ms-transition: all 0.2s ease-in-out 0.2s; -moz-transition: all 0.2s ease-in-out 0.2s; -webkit-transition: all 0.2s ease-in-out 0.2s; -o-transition: all 0.2s ease-in-out 0.2s; }
.contact-form .form-control:focus { background-color:#ffffff; color:#4f4f4f; border: 1px solid #cccccc; box-shadow: none !important; }
#contact-section textarea { height: 130px; resize: none !important; }
#send-contact { font-family: 'Lato', sans-serif; margin-top: 10px; padding: 15px 10px 15px 10px; font-size:1em; text-transform: uppercase; font-weight: bold; }

/* .nav-pills */
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus { color: #666666; font-size:15.5px;}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus { background-color: #ffffff !important; border-bottom: 2px solid #cccccc !important; }
.nav-pills > li > a { border-radius: 0; }

/* #carousel_slide_contact */
#carousel_slide_contact .nav { width: 241px; margin: 0 auto; background: rgba(0, 0, 0, 0.1); padding: 10px 0 10px 14px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
#carousel_slide_contact .nav a { color: #666666 !important; border-bottom: 3px solid #9a9ca0 !important; background: rgba(241,241,243,1); border-bottom:3px solid #cccccc !important; }
#carousel_slide_contact .nav a:hover, #carousel_slide_contact .nav a:focus { background: rgba(255,255,255,1); border-bottom: 3px solid #cccccc !important; }
#carousel_slide_contact .nav a.contact-btn-left { padding-left: 22px; padding-right: 22px; -moz-border-bottom-left-radius: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; -moz-border-top-left-radius: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; }

#carousel_slide_contact .nav a.contact-btn-right { -moz-border-bottom-right-radius: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; -moz-border-top-right-radius: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; }
#carousel_slide_contact .carousel-inner .item { color: #666666; text-align: left !important; }

/* .contact-details */
.contact-details {
  width: 80%;
  max-width:750px;
  margin: 0 auto;
  padding: 60px 20px 20px 20px;
}
.contact-details-box {
  background-color: #f3f3f4;
  border: 2px solid #cccccc;
  color: #333;
  text-align: center;
     -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  padding: 20px 10px 20px 10px;
  margin: 0 auto 10px;
  height: 180px;
  max-width:180px;
}
.contact-details-box,
.contact-details-box .fa {
     -moz-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

.contact-details-box:hover { border-color:#41abef; }
.contact-details-box:hover .fa { color:#41abef; }
.contact-details-box h2 { font-family: 'Lato', sans-serif; font-size: 1.3em; font-weight: bold; margin:0;}
.contact-details-box p { font-weight: 300; font-size: 16px; line-height:1.5}
.contact-details-box a:hover {text-decoration:underline;}
.message-contact-box { width: 100%; padding: 0 15px 0 15px; }


/*
**************************
   TESTIMONIALS Section
**************************
*/
.testimonials-container {
  background: url(../img/backgrounds/headshot-bg.jpg) no-repeat center center fixed;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 25px 35px -10px rgba(64,65,66,.25) inset,
              0px -20px 35px -15px rgba(64,65,66,.2) inset;
}
.cover {
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  height: 100%;
}

.testimonial-list .testimonial-image img {border:3px solid #fff; max-width:124px;}
.testimonial-text p {
  font-size:18.5px;
  line-height:1.8;
  text-indent: -48px;
  padding-left: 30px;
}
.testimonial-text p::before {
  font-family: 'FontAwesome';
  content: "\f10d";
  font-size: 22px;
  font-weight: bold;
  padding-right: 20px;
  font-weight: normal;
}

.carousel-indicators.belowSlides {
  position: static;
  display: block;
  width: auto;
  margin: 25px auto 0;
}
.carousel-indicators li {
  background-color: rgba(0,0,0,.18);
  border:none;
  width: 14px;
  height: 14px;
  margin: 0 8px;
  -webkit-transition:.16s all ease;
          transition:.16s all ease;
}
.carousel-indicators li.active {
  width: 15px;
  height: 15px;
  margin: 0 8px;
  background-color: #41abef;
}
.carousel-indicators li:not(.active):hover {
  background-color:rgba(0,0,0,.05);
  border: 2px solid rgba(63,171,225,.9);
  width:16px;
  height:16px;
  margin:1px 7px 0;
}

.testimonial-author {
  display: block;
  max-width: 260px;
  border-top: 2px solid #555;
  padding: 10px 0px 0;
  margin: 10px 0 0 30px;
}
.testimonial-author a {margin-left:5px;}


/*
**************************
    AWARDS Section
**************************
*/
#awards-section {display: none;}


/*
**************************
 Scroll Up Button
**************************
*/
a.scroll-up { border-radius:4px; display: none; position: fixed; right: 12px; bottom: 12px; padding:5px 10px; background: #00a8d6; text-align: center; -moz-transition: -moz-transform 0.7s ease-in-out; -o-transition: -o-transform 0.7s ease-in-out; -webkit-transition: -webkit-transform 0.7s ease-in-out; transition: transform 0.7s ease-in-out; -webkit-backface-visibility: hidden;}
a.scroll-up i {color: #FFF;}
a.scroll-up:hover, 
a.scroll-up:focus { -moz-transform: scale(1.1, 1.1); -ms-transform: scale(1.1, 1.1); -webkit-transform: scale(1.1, 1.1); transform: scale(1.1, 1.1); background: #31373a;}


/*
 ***********************
    MOBILE SCREENS
 ***********************
*/
@media only screen and (max-width: 767px) {
  .btn-group-lg > .btn {
    font-size:16px;
    max-width:50%;
    padding-top:13px;
  }
  .btn-group-lg > .btn .fa {
    margin-right: 5px;
  }

  .circle-screenshot { margin-bottom: 40px; }

  .section-container-blue-bg .blueCallout { padding: 60px 15px; min-height: 270px; }
  .testimonial-text p {
      font-size: 16px;
      line-height: 1.7;
      text-indent: -10px;
      padding-left: 10px;
    }
  .testimonial-author { margin: 0 auto; max-width:230px; }

  .contact-form { padding: 10px; width: 92%;}
  .contact-details {width: 92%;}
  .contact-details-box {padding-top:30px;}
}


@media only screen and (min-width: 768px) {
	.pricing-container img.screenshot {
      position:relative;
      top:-40px;
      left:5%;
    }

    .lead {
      font-size: 22px;
    }

    #contact-section { padding: 110px 0 50px 0; }

    #awards-section {
		display: block;
		border-top: 2px solid #c2c3c8;
		border-bottom: 2px solid #c2c3c8;
		box-shadow: 0px 2px 22px -1px rgba(88, 89, 91, 0.1) inset, 0px -2px 22px -1px rgba(147, 149, 152, 0.18) inset;
		padding: 0px 0px 55px;
		overflow: hidden;
	}
	#awards-section .awards-scroll {
		width: 4860px;
		height: 150px;
		padding: 20px 0 0;
        margin: 15px 0 20px;
		-webkit-transform: translate3D(0, 0, 0);  /* This line is supposed to fix a Chrome bug where the animation transition causes a "flicker" */
				transform: translate3D(0, 0, 0);
		-webkit-animation: bannermove 50s linear infinite;
		   -moz-animation: bannermove 50s linear infinite;
			-ms-animation: bannermove 50s linear infinite;
			 -o-animation: bannermove 50s linear infinite;
				animation: bannermove 50s linear infinite;
				animation-play-state:running;
		-webkit-animation-play-state:running;
	}
	#awards-section .awards-scroll:hover {
				animation-play-state:paused;
		-webkit-animation-play-state:paused;
	}
	#awards-section .awards-scroll div.flip-container {
		opacity: 0.7;
		display: inline-block;
		float: left;
		background: none;
		margin: 0px 10px;
		transition: all .3s;
		-o-transition: all .3s;
		-ms-transition: all .3s;
		-moz-transition: all .3s;
		-webkit-transition: all .3s;	
	}
	#awards-section .awards-scroll div.flip-container,
	#awards-section .awards-scroll div.flip-container .flipper div.front, 
	#awards-section .awards-scroll div.flip-container .flipper div.back {
		width:230px;
		height:120px;
		margin-bottom:10px;
	}
	#awards-section .awards-scroll div.flip-container .flipper div.front, 
	#awards-section .awards-scroll div.flip-container .flipper div.back {
		border-radius:8px;
		background-color: #fff;
		-webkit-box-shadow: 0px 1px 3px 0px rgba(88, 89, 91, 0.6);
		-moz-box-shadow: 0px 1px 3px 0px rgba(88, 89, 91, 0.6);
		box-shadow: 0px 1px 3px 0px rgba(88, 89, 91, 0.6);
	}
	#awards-section .awards-scroll div .caption  {
		display: block;
		margin: 5px auto;
		padding:5px;
		width:120px;
		height:auto;
		border-radius: 10px;
		position: relative;    
		top: 10px;
		color: #58595b;	
		font: 500 12px "Roboto", "Open Sans", Arial, Helvetica, sans-serif;
		text-rendering: optimizeLegibility;
		text-align:center;
		transition: all .3s;
		-o-transition: all .3s;
		-ms-transition: all .3s;
		-moz-transition: all .3s;
		-webkit-transition: all .3s;
	}
	#awards-section .awards-scroll img {
		display:block;
		margin: 21px auto;
		width: 120px;
	}

	*.flip-container {perspective: 1000; -webkit-perspective: 1000; -moz-perspective: 1000; width:100%; height:auto;}
	*.flip-container:hover .flipper {transform: rotateY(180deg);-webkit-transform: rotateY(180deg);-moz-transform: rotateY(180deg);-ms-transform: rotateY(180deg);}
	*.flip-container .hover .flipper {transform: rotateY(180deg);-webkit-transform: rotateY(180deg);-moz-transform: rotateY(180deg);-ms-transform: rotateY(180deg);}
	*.flip-container .flipper {
		-webkit-transition:0.8s;
		   -moz-transition:0.8s;
				transition:0.8s;
		-webkit-transform-style:preserve-3d;
		   -moz-transform-style:preserve-3d;
				transform-style:preserve-3d;
		position:relative;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}
	*.flip-container .flipper div.front, *.flip-container .flipper div.back {
		width:100%;
		position:absolute;
		top:0;
		left:0;
		-webkit-backface-visibility:hidden;
		-moz-backface-visibility:hidden;
		-ms-backface-visibility:hidden;
		backface-visibility:hidden;
	}
	*.flip-container .flipper div.front {z-index:2;}
	*.flip-container .flipper div.back {
		-webkit-transform:rotateY(180deg);
		-moz-transform:rotateY(180deg);
		-ms-transform: rotateY(180deg);
		transform:rotateY(180deg);
	}

    #forLandlordsTab .features-box {
      padding-left: 90px;
      padding-right: 0;
      padding-top: 0;
    }
    #forLandlordsTab .screenshot { padding-left:0; }
}


@media only screen and (min-width: 1030px) {
  .tab-desk-only { display:block; }

  .container { width: 90%; }

  #top-carousel .carousel-inner { overflow: visible;}
  #top-carousel .item { max-width: 600px; }
  #top-carousel #slide3 { max-width:450px; position:relative; left: -30px; }

  .circle-screenshot img { max-width: 80%; }

  .pricing-container img.screenshot {
    position:relative;
    top:-70px;
    left:10%;
  }

  #awards-section ul { max-width: 960px; }
  #awards-section ul li {
    display: inline-block;
    width: 16.66%;
  }
  #awards-section li:nth-child(5) { display: inline-block; }

  #forLandlordsTab .features-box { padding-left: 130px; }
  #forLandlordsTab .list-group-item > .fa-check { font-size:20px; }
  .benefits-container .list-group-item {text-indent:-33px;}
}


/*
 * Generate Margin Class
 * margin, margin-top, margin-bottom, margin-left, margin-right
 */
.m-0 {margin: 0px !important;}
.m-t-0 {margin-top: 0px !important;}
.m-b-0 {margin-bottom: 0px !important;}
.m-l-0 {margin-left: 0px !important;}
.m-r-0 {margin-right: 0px !important;}
.m-5 {margin: 5px !important;}
.m-t-5 {margin-top: 5px !important;}
.m-b-5 {margin-bottom: 5px !important;}
.m-l-5 {margin-left: 5px !important;}
.m-r-5 {margin-right: 5px !important;}
.m-10 {margin: 10px !important;}
.m-t-10 {margin-top: 10px !important;}
.m-b-10 {margin-bottom: 10px !important;}
.m-l-10 {margin-left: 10px !important;}
.m-r-10 {margin-right: 10px !important;}
.m-15 {margin: 15px !important;}
.m-t-15 {margin-top: 15px !important;}
.m-b-15 {margin-bottom: 15px !important;}
.m-l-15 {margin-left: 15px !important;}
.m-r-15 {margin-right: 15px !important;}
.m-20 {margin: 20px !important;}
.m-t-20 {margin-top: 20px !important;}
.m-b-20 {margin-bottom: 20px !important;}
.m-l-20 {margin-left: 20px !important;}
.m-r-20 {margin-right: 20px !important;}
.m-25 {margin: 25px !important;}
.m-t-25 {margin-top: 25px !important;}
.m-b-25 {margin-bottom: 25px !important;}
.m-l-25 {margin-left: 25px !important;}
.m-r-25 {margin-right: 25px !important;}
.m-30 {margin: 30px !important;}
.m-t-30 {margin-top: 30px !important;}
.m-b-30 {margin-bottom: 30px !important;}
.m-l-30 {margin-left: 30px !important;}
.m-r-30 {margin-right: 30px !important;}
.m-40 {margin: 40px !important;}
.m-t-40 {margin-top: 40px !important;}
.m-b-40 {margin-bottom: 40px !important;}
.m-l-40 {margin-left: 40px !important;}
.m-r-40 {margin-right: 40px !important;}
/** Generate Padding Class
 * padding, padding-top, padding-bottom, padding-left, padding-right **/
.p-0 {padding: 0px !important;}
.p-t-0 {padding-top: 0px !important;}
.p-b-0 {padding-bottom: 0px !important;}
.p-l-0 {padding-left: 0px !important;}
.p-r-0 {padding-right: 0px !important;}
.p-5 {padding: 5px !important;}
.p-t-5 {padding-top: 5px !important;}
.p-b-5 {padding-bottom: 5px !important;}
.p-l-5 {padding-left: 5px !important;}
.p-r-5 {padding-right: 5px !important;}
.p-10 {padding: 10px !important;}
.p-t-10 {padding-top: 10px !important;}
.p-b-10 {padding-bottom: 10px !important;}
.p-l-10 {padding-left: 10px !important;}
.p-r-10 {padding-right: 10px !important;}
.p-15 {padding: 15px !important;}
.p-t-15 {padding-top: 15px !important;}
.p-b-15 {padding-bottom: 15px !important;}
.p-l-15 {padding-left: 15px !important;}
.p-r-15 {padding-right: 15px !important;}
.p-20 {padding: 20px !important;}
.p-t-20 {padding-top: 20px !important;}
.p-b-20 {padding-bottom: 20px !important;}
.p-l-20 {padding-left: 20px !important;}
.p-r-20 {padding-right: 20px !important;}
.p-25 {padding: 25px !important;}
.p-t-25 {padding-top: 25px !important;}
.p-b-25 {padding-bottom: 25px !important;}
.p-l-25 {padding-left: 25px !important;}
.p-r-25 {padding-right: 25px !important;}
.p-30 {padding: 30px !important;}
.p-t-30 {padding-top: 30px !important;}
.p-b-30 {padding-bottom: 30px !important;}
.p-l-30 {padding-left: 30px !important;}
.p-r-30 {padding-right: 30px !important;}
.p-40 {padding: 40px !important;}
.p-t-40 {padding-top: 40px !important;}
.p-b-40 {padding-bottom: 40px !important;}
.p-l-40 {padding-left: 40px !important;}
.p-r-40 {padding-right: 40px !important;}
/** Font Weight **/
.f-300 {font-weight: 300 !important;}
.f-400 {font-weight: 400 !important;}
.f-500 {font-weight: 500 !important;}
.f-700 {font-weight: 700 !important}
.f-12 {font-size: 12px !important;}
.f-13 {font-size: 13px !important;}
.f-14 {font-size: 14px !important;}
.f-15 {font-size: 15px !important;}
.f-16 {font-size: 16px !important;}
.f-17 {font-size: 17px !important;}
.f-18 {font-size: 18px !important;}
.f-19 {font-size: 19px !important;}
.f-20 {font-size: 20px !important;}
.f-21 {font-size: 21px !important;}
.f-22 {font-size: 22px !important;}
.f-23 {font-size: 23px !important;}
.f-24 {font-size: 24px !important;}
.f-25 {font-size: 25px !important;}
.f-30 {font-size: 30px !important;}
/************************/
/*****  ANIMATIONS  *****/
/************************/
@keyframes "bannermove" {
 0% {margin-left: 0px;}
 100% {margin-left: -2250px;}
}
@-moz-keyframes bannermove {
 0% {margin-left: 0px; }
 100% { margin-left: -2250px;}
}
@-webkit-keyframes "bannermove" {
 0% {margin-left: 0px; }
 100% {margin-left: -2250px;}
}
@-ms-keyframes "bannermove" {
 0% {margin-left: 0px;}
 100% {margin-left: -2250px;}
}
@-o-keyframes "bannermove" {
 0% {margin-left: 0px;}
 100% {margin-left: -2250px;}
}